@import "./indexStyle.scss";

.edu-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #666;

  .unis {
    margin: 10rem 10% 0;
    font-size: 1.1rem;
    span {
      color: $yellow;
      margin-right: 1rem;
    }
  }

  .edu-container {
    margin: 3% 7%;
    width: 80%;
    position: relative;
    font-family: inherit;

    @include phone {
      margin: 3% 0;
      width: 90%;
    }

    h2 {
      font-size: 1.3rem;
      margin: 3%;
    }

    .course_section {
      margin: 0.7rem;
      display: flex;
      flex-direction: column;
      font-family: inherit;

      .course_header {
        @include basic-button-style;
        background-color: white;
        padding: 18px;
        display: flex;
        align-items: center;
        border: solid $yellow 1px;
        outline: none;
        text-align: left;
        color: #666;

        span {
          width: 90%;
          font-size: 1.3rem;

          a {
            color: $yellow;
            padding: 0.5rem;
          }
        }

        .pic {
          height: 30px;
          display: inline-block;
          position: absolute;
          right: 20px;
          transform: rotate(0deg);
          transition: transform 0.6s ease;
          &.unfold {
            transform: rotate(180deg);
          }
        }
      }

      .details {
        display: inline-block;
        background-color: white;
        overflow: hidden;
        transition: max-height 0.6s ease;
        width: 90%;
        font-size: 1.1rem;

        span,
        a {
          display: inline-block;
          font-weight: 400;
          padding: 0.7rem;
          color: #666;
        }
      }
    }
  }
}
