@import "./indexStyle.scss";

.exp-container {
  @include main-container;
  align-items: center;

  #work {
    margin: 7%;

    @include media(mobile, ipad, tablet) {
      margin: 20% 0;
    }

    .hash-group {
      margin: 1rem 2rem;
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        a {
          font-size: 1.25rem;
          margin: 0;
          padding: 5px;
          cursor: pointer;
          color: $textColor;
          text-decoration: none;
          @include media(mobile, ipad) {
            font-size: 1.1rem;
          }

          &:hover,
          &.selected {
            color: $yellow;
          }
        }
      }
    }
    .exp-card {
      @include card-border;
      overflow: hidden;
      width: 100%;
      margin: 1rem;
      font-size: 1.2rem;
      padding: 3rem;
      background-color: white;
      color: $textColor;
      @include media(mobile, ipad, tablet) {
        margin: 1rem 0;
        font-size: 1.1rem;
        padding: 1.1rem;
      }

      section:nth-of-type(1) {
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        margin: 1rem;

        h2 {
          font-size: 1.3rem;
          font-weight: 400;
          &:nth-of-type(1) {
            color: $yellow;
          }
        }

        p {
          line-height: 2rem;
          margin: 0;
        }
        a {
          width: 40px;
          color: $yellow;
          padding: 0;
        }
      }

      section:nth-of-type(2) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: stretch;
        margin: 1rem;

        @include media(mobile, ipad) {
          flex-direction: column;
          justify-content: flex-start;
          flex-wrap: nowrap;
        }

        .column {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: stretch;
          div {
            padding: 0;
          }
        }

        div {
          padding-right: 6rem;
          @include media(mobile, ipad) {
            padding-right: 0;
          }

          p {
            margin-bottom: 0;
            color: $yellow;
          }
          ul {
            padding: 0;
            list-style: none;
          }
        }
      }
    }
  }
}
