@import "./indexStyle.scss";

@include scrollbars;

.container {
  @include main-container;

  .hero {
    height: 100vh;
    align-content: center;

    @include media(mobile, ipad) {
      height: auto;
    }

    @include landscape {
      height: auto;
    }
  }

  #projects {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    padding: 1rem;
    grid-gap: 1rem;

    @include min-media(mobile, ipad, tablet) {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      padding: 1rem 4rem;
      grid-gap: 1rem;
    }
    @include min-media(tablet-landscape, desktop) {
      padding: 2rem 4rem;
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
      grid-gap: 2rem;
    }
  }
}
