@mixin scrollbars {
  // Chrome, Edge, Opera, Safari, iOS
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

@mixin zero-margin {
  left: 0;
  right: 0;
  top: 0;
}

@mixin max-width {
  width: 100%;
}

@mixin max-height-vh {
  height: 100%;
}

@mixin flex-col-nowrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

@mixin flex-col-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@mixin flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin flex-row-nowrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@mixin transp-background {
  background-color: transparent;
}

// responsiveness
@mixin phone {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin no-mobile {
  @media only screen and (min-width: 769px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 769px) and (max-width: 1023px) {
    @content;
  }
}

@mixin tablet-landscape {
  @media only screen and (min-width: 1024px) and (max-width: 1199px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1200px) and (max-width: 1799px) {
    @content;
  }
}

@mixin big-desktop {
  @media only screen and (min-width: 1800px) {
    @content;
  }
}

@keyframes mymove {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(200px);
    opacity: 1;
  }
}

// palette
$yellow: #f9a602;
