@import "./indexStyle.scss";

.info {
  display: flex;
  // flex: 2;
  flex-direction: column;
  justify-content: flex-start;
  > p {
    padding: 0;
    font-size: 1.3rem;
    line-height: 2rem;
  }
  // > p:nth-child(even) {
  //   margin-top: 0;
  //   font-weight: bold;
  //   font-size: 1.3rem;
  //   @include phone {
  //     font-size: 1rem;
  //   }
  // }
  // > p:nth-child(odd) {
  //   margin-bottom: 0;
  //   font-size: 1.1rem;
  //   color: $yellow;
  //   @include phone {
  //     font-size: 1rem;
  //   }
  // }
}
