@import "./indexStyle.scss";

main {
  top: 1rem;
  right: 3rem;
  position: fixed;
  z-index: 400;
  transition: all 0.5s linear;

  @include phone {
    right: 1rem;
  }

  .logo {
    border: solid black 1px;
    box-shadow: black 3px 3px;
    align-items: center;
    justify-items: space-around;
    display: flex;
  }
  .logo-active {
    border: solid black 1px;
    box-shadow: white 3px 3px;
    align-items: center;
    justify-items: space-around;
    display: flex;
  }

  &.scroll {
    transform: rotate(90deg);
    right: 0;
    top: 4rem;
    transition: all 0.5s linear;
    @include phone {
      top: 1rem;
      right: -1rem;
    }
  }
}
