@import "./indexStyle.scss";

main {
  top: 1.5rem;
  right: 3rem;
  position: fixed;
  z-index: 400;
  transition: all 0.5s linear;

  @include phone {
    right: 1rem;
  }

  .logo {
    padding: 2px;
    border: solid rgba(0, 0, 0, 0.5) 1px;
    box-shadow: $yellow 3px 3px;
    align-items: center;
    justify-items: space-around;
    display: flex;
    > img {
      padding: 2px;
    }
  }
  .logo-active {
    padding: 0;
    border: none;
    box-shadow: white 3px 3px;
    align-items: center;
    justify-items: space-around;
    display: flex;
  }

  &.scroll {
    transform: rotate(90deg);
    right: 0;
    top: 3rem;
    transition: all 0.5s linear;
    @include phone {
      top: 1rem;
      right: -1rem;
    }
  }
}
