@import "./indexStyle.scss";

nav {
  font-family: "Belleza", sans-serif;
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 300;
  left: 0;
  top: 0;
  background-color: white;
  padding: 0 1%;
  transition: transform 0.3s ease-in-out;
  // box-shadow: 0.3px 0.3px 0.3px #070707;
  @include phone {
    display: none;
  }

  .menu {
    margin: 1% 0;
    left: 0;

    > a {
      color: black;
      font-size: 1.1rem;
      margin: 0 1.3rem;
      padding: 0.2rem 0;
      text-decoration: none;
      display: inline-block;
      position: relative;
    }
    > a:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 5px;
      position: absolute;
      background: hsl(44, 100%, 50%);
      opacity: 0.5;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    > a:hover:after {
      width: 100%;
      left: 0;
    }

    .selectedLink:after {
      width: 100%;
      height: 5px;
      top: 22px;
      background: hsl(44, 100%, 50%);
      opacity: 0.5;
      z-index: -1;
    }

    .selectedLink:before {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 5px;
      position: absolute;
      background: hsl(44, 100%, 50%);
      opacity: 0.5;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }

    .selectedLink:hover:before {
      width: 100%;
      left: 0;
    }
  }

  &.hidden {
    transform: translate(0, -10rem);
    transition: transform 0.9s ease;
  }
}
