@import "./indexStyle.scss";

@include scrollbars;

.portfolio-container {
  @include main-container;

  .projects-section {
    // height: 100vh;

    .slider-container {
      display: flex;
      justify-content: center;
    }

    @include mobile {
      height: auto;
    }
  }
}
