@import "./indexStyle.scss";

.content-slider {
  width: 80%;
  height: 360px;
  color: black;
  position: relative;

  .tooltip {
    display: none;
    position: absolute;
    font-size: 0.8rem;
    bottom: 3rem;
    left: 0;
    padding: 4px;
    color: white;
    background-color: black;
    z-index: 1;
  }

  &:hover .tooltip {
    display: block;
  }

  .ref {
    height: 350px;
    width: 800px;
    margin: 40px auto 0;
    overflow: visible;
    position: relative;

    @include mobile {
      width: 250px;
    }

    @include ipad {
      width: 380px;
    }

    @include tablet {
      width: 600px;
    }
    .mask {
      overflow: hidden;
      height: 350px;

      ul {
        @include user-select-disabled;
        font-size: 1.2rem;
        margin: 0;
        padding: 0;
        position: relative;
        @include mobile {
          font-size: 0.7rem;
        }

        @include ipad {
          font-size: 0.9rem;
        }

        @include tablet {
          font-size: 1rem;
        }

        li {
          height: inherit;
          width: inherit;
          position: absolute;
          top: -325px;
          list-style: none;
          .quote {
            font-style: italic;
          }
          .source {
            font-weight: bolder;
            text-align: right;
          }
        }
        .anim1 {
          animation: cycle 15s linear infinite;
        }

        .anim2 {
          animation: cycle2 15s linear infinite;
        }

        .anim3 {
          animation: cycle3 15s linear infinite;
        }

        .anim4 {
          animation: cycle4 15s linear infinite;
        }

        .anim5 {
          animation: cycle5 15s linear infinite;
        }
      }
      &:hover li {
        animation-play-state: paused;
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -o-animation-play-state: paused;
      }
    }
  }
}
