@import "../indexStyle.scss";

.github {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  margin-top: 3rem;

  @include media(mobile, ipad) {
    padding: 0 1%;
  }
  .repolist {
    display: flex;
    flex-direction: column;
    > p {
      font-size: 1.2rem;
      padding: 20px;
      margin: 0;
      > span {
        color: $yellow;
        padding: 0 2px;
      }
      @include media(mobile, ipad) {
        font-size: 1rem;
      }
    }
    .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      color: $yellow;
      .single {
        overflow: hidden;
        width: calc(50% - 10px);
        margin: 20px 0;
        font-size: 1.3rem;
        padding: 1.2rem;
        background-color: white;
        @include card-border;

        @include media(mobile, ipad) {
          margin: 2% 1%;
          font-size: 1rem;
          width: calc(100% - 10px);
        }

        @include tablet {
          font-size: 1.2rem;
        }

        a {
          width: 40px;
          color: $yellow;
          text-decoration: underline;
          padding: 0;

          img {
            height: 25px;
          }
        }

        p {
          color: $textColor;
          margin: 0;
        }

        span {
          a {
            color: $yellow;
            background: none;
            text-decoration: none;

            &:hover {
              color: $textColor;
            }
          }
        }
      }
    }
  }
}
