@import "../indexStyle.scss";

.menu-mobile {
  display: none;
  @include phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: black;
    transform: translateX(0);
    height: 100%;
    width: 100%;
    text-align: left;
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 101;

    a {
      font-size: 1.5rem;
      text-align: center;
      text-transform: uppercase;
      padding: 2rem 0;
      background: transparent;
      font-weight: bold;
      letter-spacing: 0.5rem;
      color: white;
      text-decoration: none;
      transition: color 0.3s linear;

      &:hover {
        color: orange;
      }
    }

    .selectedMobileLink {
      color: $yellow;
    }
    &.closed {
      transform: translateX(-100%);
    }
  }
}
