@import "../indexStyle.scss";

.content-slider {
  width: 100%;
  height: 100%;
  color: black;
  position: relative;
  padding: 15% 0;

  @include media(tablet) {
    padding: 0 0 20rem 0;
  }

  @include media(ipad) {
    padding: 0 0 40rem 0;
  }
  @include media(mobile) {
    padding: 0 0 53rem 0;
  }

  .ref {
    padding: 0 7rem;
    opacity: 0;
    height: auto;
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;

    @include media(mobile, ipad, tablet) {
      padding-bottom: 20%;
      padding: 0.4rem 2rem;
    }

    &.active {
      opacity: 1;
    }

    .quote-wrapper {
      width: 100%;

      p,
      h3 {
        font-size: 1.2rem;
        @include media(mobile, ipad) {
          font-size: 1rem;
        }
      }
    }
  }

  .nextbutton {
    position: absolute;
    right: 0;
    top: 35%;
    background-color: rgba(36, 36, 36, 0);
    color: $yellow;
    outline: none;
    box-shadow: none;
    border-color: none;
    border-style: none;
    font-size: 6rem;
    cursor: pointer;

    @include media(mobile, ipad) {
      font-size: 4rem;
      padding: 0;
    }
  }

  .prevbutton {
    position: absolute;
    left: 0;
    top: 35%;
    background-color: rgba(36, 36, 36, 0);
    color: $yellow;
    outline: none;
    box-shadow: none;
    border-color: none;
    border-style: none;
    cursor: pointer;
    font-size: 6rem;
    padding: 0;

    @include media(mobile, ipad) {
      font-size: 4rem;
    }
  }
}
