*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
